.ejk_blokk {
	border-top: 1px solid transparent;
	line-height: 20px;
	text-align: justify;
}

.ejk_kerdes {
	margin-left:20px;
	margin-right:20px;
	border: 0px solid silver;
	padding:5px;
	margin-bottom: 20px;
}



.ejk_kep {
	border: 8px solid transparent;
	max-width:100%;
}

.ejk_kivalasztott_kep {
	border: 8px solid orange;
}

.ejk_kerdes_elfogadva {
	background-color:#daffd6;
}

.ejk_kerdes_elutasitva {
	background-color:#ffd6d6;
}

.ejk_kerdes_nyitott {
	background-color:#ffffd1;
}

.ejk_valasz_div {
	min-height: 20px;
	background-color:white;
	margin:5px;
	padding:5px;
	font-weight:normal;
}

.ejk_oktato_megjegyzes_div {
	background-color:white;
	margin:5px;
	padding:5px;
	font-weight:normal;
}

.ejk_gray {
	color:silver;
}

.ejk_rating_image {
	margin:3px;
}

.ejk_valasz {
	min-height:80px;
}


.ejk_boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.middle {
	vertical-align:middle;
}

.hidden {
	display:none;
}
