* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
	font-family: Arial,sans-serif,sans;
	font-size: 9pt;
	color: #000000;
}

.banner {
	background: url("/images/header_background.gif") repeat-x scroll top left;
	/*background-color: #92B44B; 	 #217515;*/
	height: 52px;
	text-align:right;
}

.page_banner {
	font-family: Verdana, Arial;
	font-size: 21px;
	font-weight:bold;
	letter-spacing:2px;
	color:#EAEAEA;

	position:absolute;
	top:0px;
	text-align:left;

	height: 52px;
	line-height: 52px;
	vertical-align:middle;
}

.menu_text {
    letter-spacing:1px;
    /*overflow:hidden;*/
    overflow-style:  marquee-block;
}

#menu_right {
    position:absolute;
    right:0px;
    top:0px;
    
    padding:0px;
    margin:0px;
    text-align:right;
    width:80px;
    z-index:100;
    background-color: black;
}

.bold_span {
	font-weight:bold;
}

.bold {
	font-weight:bold;
}


.modebar {
	/* background: #6187b6; */
	background: #000000;
	line-height: 1.5em;

	color: #ffffff;
}

.header-bottom {
	line-height: 4px;
	background: #6f0203
}

.content {
	min-height:500px;
	padding-left:10px;
	padding-right:10px;
}

a {
	text-decoration:none;
	color:black;
}

a.header_link {
	color: white;
}



img {
	border: none;
}

a.underline {
	text-decoration:underline;
}









span.green {
	color:green;
}

span.gray {
	color:gray;
}

div.message {
	padding: 10px;
	margin: 10px;
}

div.error {
	background-color:#FFE6E6;
}

div.good {
	background-color:#CCFFCC;
}

div.warning {
	background-color:#FFFF66;
}

.white {
	color:white;
}

.center {
	text-align:center;
}

.green {
	color:green;
}

.w50 {
	width:50px;
}

.quick-change {
	width:32px;
	height:32px;
	padding: 8px;
	float:right;
}

.top {
	vertical-align:top;
}

.szeles {
	width:100%;
}

.right {
	text-align:right;
}

.left {
	text-align:left;
}

.underline-links a {
	text-decoration:underline;
}

.w500 {
	width:500px;
}

.w200 {
	width:200px;
}

.w300 {
	width:300px;
}

.w400 {
	width:400px;
}

.w30 {
	width:30px;
}

.w150 {
	width:150px;
}

.w100 {
	width:100px;
}

.orange {
	color:orange;
}

.black {
	color:black;
}

.underline {
	text-decoration:underline;
}

.orange_bg {
	background-color:orange;
	color:white;
}

.red_bg {
	background-color:red;
	color:white;
}

.blue_bg {
	background-color:blue;
	color:white;
}

.green_bg {
	background-color:green;
	color:white;
}

.silver_border {
	border:1px solid silver;
}

th {
	text-align:left;
}

.result_changed {
	background-color:yellow;
}

.ejk_kivalasztott_kep {
	opacity:0.5;
}

.normal {
	font-weight:normal;
}

.feladat_sor {
	cursor:pointer;
}

.collapse {
    border-collapse: collapse;
}


.menu-list {
	padding-left: 34px;
	padding-right: 34px;
}

.menu-item {
	font-weight:bold;
	background-repeat: no-repeat;
	padding: 10px;
	margin: .6em 0;
	background-color:#EAEAEA;
	min-height:70px;
	width:48%;
	padding-top:4px;
	float:left;
	margin:3px;
}

.menu-help {
	color:gray;
	font-weight:normal;
	margin-top:5px;
}

.menu-text {
	float:left;
	margin-top:7px;
}


div#lesson-item {
	background-image: url(/images/lesson_50.png);
}

div#student-item {
	background-image: url(/images/student_50.png);
}

div#teacher-item {
	background-image: url(/images/teacher_50.png);
}

div#calendar-item {
	background-image: url(/images/calendar_50.png);
}

img.menu-image {
	float:left;
	padding-right:10px;
}

td.targy_table_cimsor{
	font-weight:bold;
	font-size:14px;
	background-color:#6F0203;
	color:white;
	border-top:10px solid white;
	padding:3px;

}

table.targy_table {
	border-collapse:collapse;
	width:1000px;
}

td {
	/*border: 1px solid gray;*/
}

img.header-image {
	width:40px;
	height:40px;
}

.red {
	color:red;
}

.hand {
	cursor:pointer;
}

.wide {
	width:100%;
}

.kiemelt_neptun_blokk {
	background-color:yellow;
}

.click_row {
	cursor:pointer;
	height:30px;
}

.click_row {
	cursor:pointer;
	height:30px;
}

.bg01 {
	background-color:#FFFFFF;
}

.bg02 {
	background-color:#EAEAEA;
}

.bg11 {
	background-color:#DBFFDB;
}

.bg12 {
	background-color:#CCFFCC;
}

.white {
	color:white;
}

.w60 {
	width:60px;
}

.sor_fokusz{
	background-color:#6F0203;
	color:white;
}

.jelentkezes_index {
	display:none;
}

table.hallgatoi{
	border-collapse:collapse;
	background-color:#EAEAEA;
}

tr.targy{
	font-weight:bold;
	font-size:16px;
	border-top:20px solid white;
	background-color:#BABABA;
	cursor:pointer;
}

td.targy{
	padding:3px;
}

tr.feladat1{
	font-size:11px;
	text-align:center;
	height:42px;

}

tr.feladat2{
	color:#22222;
	text-align:center;
	height:18px;
	border-bottom:5px solid white;
	
}

td.feladat_nev{
	font-weight:bold;
	text-align:left;
	height:60px;
}

td.kesedelmes{
}

td.normal{
	color:green;
}

table.hallgatoi th{
	width:130px;
	font-size:11px;
	background-color:#BABABA;
}

table.hallgatoi th.feladat{
	width:230px;
}

table.hallgatoi th.eredmeny{
	width:230px;
}

span.big {
	font-weight:bold;
	font-size:16px;
}

.row_B{
	background-color:#EAEAEA;
}

.row_starter{
	padding:10px;
}


.bold{
	font-weight:bold;
}


.upload_table{
	width:100%;
	border-spacing:10px;
	border-collapse:none;
}

table.upload_table td.main {
	background-color:#EAEAEA;
	vertical-align:top;
	
}

.header_row{
	text-align:center;
	background-color:#CACACA;
	border:3px solid #EAEAEA;
}

.gray {
	background-color:gray; color:white; 
}

.fake-link{
	text-decoration:underline;
	cursor:pointer;
}

tr.spacer {
	background-color:white;
}

td.spacer {
	height:10px;
}

tr.hidden, td.hidden{
	height:200px;;
	background-color:white;
}

tr.content {
	background-color:#EAEAEA;
}

.silver {
	background-color:#DDDDDD;
}

em {
	font-weight:bold;
	color:blue;
	font-style:normal;
}

input.targyfelvetel {
	width:250px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

select.targyfelvetel {
	width:250px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

input.submit-button {
	width:150px;
}

td.td-right {
	text-align:right;
}

td.td-error {
	background-color:#FFB2B2;
}


input.uj_feladat{
	width:100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

select.uj_feladat{
	width:100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

td.magyarazat {
	padding-left:10px;
	color:#555555;
}

.login-container {
	height:300px;
	width: 900px;

	position: absolute;
	top:50%;
	left:50%;
	margin-left: -450px;
	margin-top: -160px;
	background-color:white;
	
}

.login-box {
	height:300px;
	width: 280px;	
	float:left;
	border-radius: 15px;
	background-color:#EAEAEA;
	margin-left:15px;
	
	vertical-align:text-bottom;
	text-align:center;
	
	font-size:11pt;
	letter-spacing:2px;
}

.login-container2 {
	position: absolute;
	top:50%;
	left:50%;
	
	margin-top: -65px;
        
	background-color:#EAEAEA;
	border-radius: 15px;
	
	padding:10px;
	width:290px;
	height:147px;
}

.belepes-img {
	margin:10px;
}

.login-field {
	width:186px;
}

#login-container-1 {
    
    margin-left:10;
}

#login-container-2 {
    margin-left:-310px;
}





#hallgato_beadas_tablazat {
   width:100%; 
}

#hallgato_beadas_bal {
   width:450px; 
   vertical-align:top;
   float:left;
   
}

#hallgato_beadas_ertekeles {
   margin-left:460px;
   
   vertical-align:top; 
   padding:0px; 
}

.hallgato_beadas_div {
    margin-bottom:20px;
    background-color: #EAEAEA;
}

.kviz_valasztott_valasz {
    background-color:yellow;
}

			


@media only screen and (min-width: 1300px) {
    .menu-item {
        width:31%;
    }
}


@media only screen and (max-width: 900px) {
    .page_banner {
        font-size:1.4em;
    }
    
    
    #hallgato_beadas_bal, #hallgato_beadas_ertekeles {
        width:100%;
        float:none;
    }
    
    #hallgato_beadas_ertekeles {
        margin-left:0px;
    }
}

@media only screen and (max-width: 680px) {
    .login-container2 {
        position: relative;
        margin-top:20px;
        left:50%;
    }   
    
    #login-container-1 {
        margin-left:-145px;
    }

    #login-container-2 {
        margin-left:-145px;
    }
    .page_banner {
        font-size:1.1em;
    }
    
    .menu-item {
        width:100%;
    }   
}



@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    
   .double-column {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
  }
}